/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: bold;
    color: black;
    position: relative;
    left: 45px;
    letter-spacing: 8px;
    font-family: Helvetica !important;
}

.logo p {
    font-size: 16px;
    position: relative;
    left: 97px;
    letter-spacing: 6px;
    font-family: Helvetica !important;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

nav a:hover {
    color: #555;
}

/* Banner Section */
.banner {
    padding: 40px;
    background-color: #E9EED9;
    text-align: center;
}

.banner h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.banner2 {
    padding: 40px;
    background-color: #CBD2A4;
    text-align: center;
}

.banner2 h2 {
    font-size: 28px;
    margin-bottom: 20px;
}


/* Perfume Cards */
.perfume-slider {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.perfume {
    background-color: #CBD2A4;
    padding: 20px;
    border-radius: 8px;
    width: 18%;
    text-align: center;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfume2 {
    background-color: #E9EED9;
    padding: 20px;
    border-radius: 8px;
    width: 18%;
    text-align: center;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfume img, .perfume2 img {
    width: 100%;
    height: auto;
}

.perfume h3 {
    font-size: 16px;
    margin: 10px 0;
}

.perfume p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background-color: #E9EED9;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Helvetica !important;
    font-size: 8.8px;
    font-weight: 600;
    letter-spacing: .2em;
}

button2 {
    background-color: #CBD2A4;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Helvetica !important;
    font-size: 8.8px;
    font-weight: 600;
    letter-spacing: .2em;
}

button:hover {
    background-color: black;
    color: #E9EED9;
    padding: 10px 15px;
    font-size: 8.8px;
    font-weight: 600;
    letter-spacing: .2em;
    font-family: Helvetica !important;
}

button2:hover {
    background-color: black;
    color: #CBD2A4;
    padding: 10px 15px;
    font-size: 8.8px;
    font-weight: 600;
    letter-spacing: .2em;
    font-family: Helvetica !important;
}

/* Cart Section */
.cart {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    margin-top: 0;
}

.cart-item {
    margin-bottom: 10px;
}
