/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: bold;
    color: black;
}

.logo p {
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 2px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

nav a:hover {
    color: #555;
}

/* Brands Section */
.brands-section {
    padding: 40px;
    text-align: center;
}

.brands-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Brands Grid */
.brands-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brand-card {
    background-color: #CBD2A4;
    padding: 20px;
    border-radius: 8px;
    width: 20%;
    text-align: center;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brand-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.brand-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.brand-card button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.brand-card button:hover {
    background-color: black;
    color: white;
    border-color: white;
}
