/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: bold;
    color: black;
}

.logo p {
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 2px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    color: #555;
}

/* Products Section */
.products-section {
    padding: 40px;
    text-align: center;
}

.products-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Filters Section */
.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
    background-color: #E9EED9;
    padding: 15px;
    border-radius: 10px;
}

.filters label {
    margin-right: 10px;
}

.filters select, .filters input[type="range"] {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Product Cards */
.perfume-slider {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.perfume {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.perfume img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
    background-color: transparent;
}

.perfume h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.perfume p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #555;
}

.perfume button {
    background-color: #E9EED9;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.perfume button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

/* Animation when hovering over product cards */
.perfume:hover {
    transform: scale(1.05);
}

/* No products message */
.perfume-slider p {
    font-size: 16px;
    color: #888;
    text-align: center;
}
