/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: bold;
    color: black;
    position: relative;
    left: 45px;
    letter-spacing: 8px;
    font-family: Helvetica !important;
}

.logo p {
    font-size: 16px;
    position: relative;
    left: 97px;
    letter-spacing: 6px;
    font-family: Helvetica !important;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

nav a:hover {
    color: #D5ED9F;
}


/* Slideshow */
#slideshow {
    width: 100%;
    height: 500px; /* Adjust based on your images' aspect ratio */
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot.active {
    background-color: #555;
  }
  
  
/* Banner Section */
.banner {
    padding: 40px;
    background-color: #E9EED9;
    text-align: center;
}

.banner h2, .new-arrivals h2 {
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    font-family: Helvetica !important;
}

/* New Arrivals Section */
.new-arrivals {
    padding: 40px;
    background-color: #CBD2A4;
    text-align: center;
}

/* Perfume Cards */
.perfume-slider {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.perfume {
    background-color: #CBD2A4;
    padding: 20px;
    border-radius: 8px;
    width: 18%;
    text-align: center;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfume:hover, .perfume2:hover {
    transform: scale(1.05);
}

.perfume2 {
    background-color: #E9EED9;
    padding: 20px;
    border-radius: 8px;
    width: 18%;
    text-align: center;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfume img, .perfume2 img {
    max-width: 100%;
    max-height: auto;
    padding-top: auto;
    padding-bottom: auto;
}

.perfume h3 {
    font-size: 16px;
    margin: 10px 0;
}

.perfume p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background-color: #E9EED9;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Helvetica !important;
    font-size: 8.8px;
    font-weight: 600;
    letter-spacing: .2em;
}

button2 {
    background-color: #CBD2A4;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Helvetica !important;
    font-size: 8.8px;
    font-weight: 600;
    letter-spacing: .2em;
}

button:hover {
    background-color: black;
    color: #E9EED9;
    padding: 10px 15px;
    font-size: 8.8px;
    font-weight: 600;
    letter-spacing: .2em;
    font-family: Helvetica !important;
}

/* Carousel Container */
.carousel-container {
    position: relative;
    overflow:hidden;
    max-width: 80%;
    margin: 0 auto;
}

.new-arrivals-slider {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    gap: 0px;
}


/* Carousel Arrow Buttons */
.new-arrivals-prev, .new-arrivals-next {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 100px;
}

.new-arrivals-prev {
    left: 10px;
}

.new-arrivals-next {
    right: 10px;
}

.new-arrivals-prev:hover, .new-arrivals-next:hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E9EED9;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 100;
}


/* Footer */
.footer {
    background-color: #F1F3C2;
    padding-bottom: 15px;
    color: #272727;
}
.footer-container {
    padding-top: 50px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    width: 85%;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
    line-height: 1.8;
}

.footer-section form {
    margin-top: 15px;
}

.footer-section input[type="email"] {
    padding: 8px;
    margin-right: 5px;
}

.footer-section button {
    padding: 10px 12px;
    background-color: #CBD2A4;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

.copyright {
    text-align: center;
    border-top: 2px solid #bebcbc6b;
    margin-top: 20px;
    padding-top: 15px;
}


